@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		transition: background-color 0.5s ease;
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-SemiBold.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Medium.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Light.woff2) format('woff2');
	}

	@font-face {
		font-family: Manrope;
		src: url(../assets/fonts/Manrope-Regular.woff2) format('woff2');
	}

	/* prose styles here (CSS nested enabled) */
	.prose {
		code {
			@apply text-base;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			@apply text-zinc-800 dark:text-zinc-100   !important;

			/* 消除Heading中Code样式的字号与行高 */
			> code {
				font-size: inherit !important;
				line-height: inherit !important;
			}
		}
	}
}

.glassy {
	background: rgba(57, 56, 56, 0.52);
	backdrop-filter: blur(13px) saturate(150%);
	-webkit-backdrop-filter: blur(13px) saturate(150%);
	z-index: -1;
}

.shadow {
	box-shadow: -5px 3px 8px 1px rgba(0, 0, 0, 0.12);
}

.animated-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	@apply bg-black dark:bg-white;
}

.animated-link:hover::after {
	animation: underline 0.2s forwards;
}

@keyframes underline {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

#toc {
	&::-webkit-scrollbar {
		@apply w-1;
	}

	&::-webkit-scrollbar-track {
		@apply bg-[#e2e2e2] dark:bg-[#313131] rounded-[10px];
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-[#9a9a9a] rounded-[10px];
	}
}
