---
import HoverAnimatedLink from '@/components/AnimatedLink'
import PostCardList from '@/components/list/PostCardList'
import TitlePage from '@/components/Hero'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'

const recentPosts = (await getPosts()).slice(0, 3)
---

<BaseLayout title='主页'>
	<TitlePage text='Hi! ChlorineC here.' />
	<p class='flex items-center justify-between'>
		<span class='text-lg font-bold'>最近更新:</span>
		<HoverAnimatedLink
			class='ml-4 text-gray-500'
			href='/category/development'
			ariaLabel='view more posts'
		>
			查看更多
		</HoverAnimatedLink>
	</p>
	<PostCardList posts={recentPosts} />
</BaseLayout>
