---
import { type CollectionEntry } from 'astro:content'
import BlogPost from '@/layouts/BlogPost'
import ListRelatedPosts from '@/components/list/RelatedPostList'
import TableOfContents from '../../components/post/TOC'
import { getPosts, getRelatedPosts } from '@/utils'

type Props = CollectionEntry<'blog'>

export async function getStaticPaths() {
	const posts = await getPosts()
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}

const post = Astro.props
const relatedPosts = await getRelatedPosts(post)

const { Content, headings, remarkPluginFrontmatter } = await post.render()
---

<BlogPost data={post.data} readTime={remarkPluginFrontmatter.minutesRead}>
	<div class='grid grid-cols-1 lg:grid-cols-[20%_auto] lg:gap-20 mt-8'>
		<!-- aside  -->
		<aside class='lg:flex flex-col gap-8 hidden'>
			<!-- <Share /> -->
			<div class='sticky top-24 self-start hidden lg:block transition-all duration-200'>
				{headings && headings.length > 0 && <TableOfContents client:load headings={headings} />}
			</div>
		</aside>

		<!-- post -->
		<article class='max-w-full w-full'>
			<div
				class='prose prose-sm prose-code:px-1 prose-code:text-[#4870ac] dark:prose-code:text-[#85b0f1] md:prose-base 2xl:prose-lg dark:prose-invert mb-12 min-w-full'
			>
				<Content />
			</div>

			<!-- related posts -->
			<footer>
				<h2 class='font-bold text-lg dark:text-white mb-6'>Related Posts</h2>
				<ListRelatedPosts posts={relatedPosts} />
			</footer>
		</article>
	</div>
</BlogPost>
