---
import Shape from './icons/Shape.astro'
type Props = {
	text: string
}

const { text } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<Shape />
	<h1 class='text-6xl font-bold first-letter:uppercase'>
		{text}
	</h1>
</div>
